USE [master]
GO
/****** Object:  Database [Kutuphane]    Script Date: 10.04.2026 11:22:39 ******/
CREATE DATABASE [Kutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kutuphane]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 10.04.2026 11:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[KitapAd] [nvarchar](150) NOT NULL,
	[YazarID] [int] NULL,
	[TurID] [int] NULL,
	[SayfaSayisi] [int] NULL,
	[BasimYili] [int] NULL,
	[StokAdeti] [int] NULL,
	[RafNo] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncIslemleri]    Script Date: 10.04.2026 11:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncIslemleri](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[UyeID] [int] NULL,
	[KitapID] [int] NULL,
	[VerilisTarihi] [date] NULL,
	[TeslimTarihi] [date] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turler]    Script Date: 10.04.2026 11:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turler](
	[TurID] [int] IDENTITY(1,1) NOT NULL,
	[TurAd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 10.04.2026 11:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[KayitTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 10.04.2026 11:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[YazarAd] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [TurID], [SayfaSayisi], [BasimYili], [StokAdeti], [RafNo]) VALUES (1, N'Tutunamayanlar', 1, 1, 725, 1971, 2, N'A-02')
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [TurID], [SayfaSayisi], [BasimYili], [StokAdeti], [RafNo]) VALUES (2, N'Sineklerin Tanrısı', 2, 2, 262, 1954, 4, N'C-08')
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [TurID], [SayfaSayisi], [BasimYili], [StokAdeti], [RafNo]) VALUES (3, N'Kürk Mantolu Madonna', 3, 3, 160, 1943, 5, N'A-05')
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[OduncIslemleri] ON 

INSERT [dbo].[OduncIslemleri] ([IslemID], [UyeID], [KitapID], [VerilisTarihi], [TeslimTarihi], [Durum]) VALUES (1, 1, 2, CAST(N'2026-03-01' AS Date), CAST(N'2026-03-10' AS Date), N'Teslim Edildi')
INSERT [dbo].[OduncIslemleri] ([IslemID], [UyeID], [KitapID], [VerilisTarihi], [TeslimTarihi], [Durum]) VALUES (2, 2, 3, CAST(N'2026-03-02' AS Date), CAST(N'2026-03-11' AS Date), N'Teslim Edildi')
INSERT [dbo].[OduncIslemleri] ([IslemID], [UyeID], [KitapID], [VerilisTarihi], [TeslimTarihi], [Durum]) VALUES (3, 3, 5, CAST(N'2026-03-03' AS Date), NULL, N'Ödünç Verildi')
SET IDENTITY_INSERT [dbo].[OduncIslemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Turler] ON 

INSERT [dbo].[Turler] ([TurID], [TurAd]) VALUES (1, N'Modern Klasik')
INSERT [dbo].[Turler] ([TurID], [TurAd]) VALUES (2, N'Roman')
INSERT [dbo].[Turler] ([TurID], [TurAd]) VALUES (3, N'Dram')
SET IDENTITY_INSERT [dbo].[Turler] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Telefon], [Email], [KayitTarihi]) VALUES (1, N'Mehmet', N'Demir', N'05333333333', N'mehmet@gmail.com', CAST(N'2024-03-15' AS Date))
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Telefon], [Email], [KayitTarihi]) VALUES (2, N'Fatma', N'Çelik', N'05222222222', N'fatma@gmail.com', CAST(N'2024-04-20' AS Date))
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Telefon], [Email], [KayitTarihi]) VALUES (3, N'Ali', N'Şahin', N'05111111111', N'ali@gmail.com', CAST(N'2024-05-05' AS Date))
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([YazarID], [YazarAd]) VALUES (1, N'Oğuz Atay')
INSERT [dbo].[Yazarlar] ([YazarID], [YazarAd]) VALUES (2, N'William Golding')
INSERT [dbo].[Yazarlar] ([YazarID], [YazarAd]) VALUES (3, N'Sabahattin Ali')
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [StokAdeti]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT (getdate()) FOR [VerilisTarihi]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  DEFAULT ('Ödünç Verildi') FOR [Durum]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitap_Tur] FOREIGN KEY([TurID])
REFERENCES [dbo].[Turler] ([TurID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitap_Tur]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitap_Yazar] FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitap_Yazar]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK_Odunc_Kitap] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK_Odunc_Kitap]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK_Odunc_Uye] FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK_Odunc_Uye]
GO
USE [master]
GO
